* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
}

#info-bar {
    font-size: 12px;
    font-style: italic;
    display: flex;
}

.info {
    margin-right: 10px;
    width: 200px;
}

.container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}

.card {
    background-color: #F4F9F9;
    width: 300px;
    height: 300px;
    margin: 0 5px 10px;
    border: 1px solid #696969;
    box-shadow: 0 0 2px 0;
    border-radius: 5px;
}

.card-tag {
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card-event-content {
    text-align: center;
    margin-top: 50px;
}

#paste-test {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
}

.elements {
    display: flex;
    flex-wrap: wrap;
}

.element {
    text-align: center;
    width: 150px;
    height: 140px;
}

.element > img {
    margin-top: 40px;
}

#form {
    margin: 10px;
}

#file {
    width: 250px;
}

#pgtest {
    width: 300px;
    height: 280px;
    border: none;
}

#img-text {
    text-align: center;
    margin-top: 100px
}
